# Android Build Files
JioHomeJFE_source/build/
JioHomeJFE_source/dist/

# Binary APKs (Excluded from source repo, use Releases)
*.apk
*.idsig

# Logs and temporary files
*.log
tools/
.idea/
*.swp

# Keep Smali and Resources
!JioHomeJFE_source/