# .env

# Your Oktopus credentials
OKTOPUS_USER="your-email-or-username-here"
OKTOPUS_PASS="your-password-here"

# Set to "false" if you want to see the browser window while scraping (useful for debugging)
HEADLESS="true"
